numpy>=1.23.4
requests
tqdm
pandas>=1.5.3
tiktoken
rich
portalocker
timeout-decorator
opencv-python>=4.4.0.46
pillow
omegaconf
matplotlib
google-generativeai
einops
sentencepiece
termcolor
SwissArmyTransformer 
huggingface_hub
visual_genome
wandb
pycocoevalcap
openpyxl
seaborn
tabulate
xlsxwriter
dashscope
ipdb
pytorchvideo
@git+https://github.com/TideDra/GPTFactory
